/* ---------------------------------------------------------------------------------------------------

-----Info

-----Color Swatch

-----Sections

∆ General
∆ Home


----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
    ∆ General
---------------------------------------------------------------------------------------------------*/


html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
  margin: 0;
  padding: 0;
}

body{
  font: 14px Helvetica; 
  font-weight: lighter;
}

ul{
  list-style-type: none;
}

li{
  float: left;
}

img{
  width: 100%;
}

h1{
  font: 32px 'Offside', sans-serif;
}

h1, h1 a, h2, h2 a{
  text-transform: uppercase;
  font-weight: lighter;
  color: #ec5b2e;
}

a{
  text-decoration: none;
}

a:hover{
  opacity: .7;
}

p{
  padding: 8px 0 0;
  color: #000;
}

.clear_fix{
  clear: both;
}


/* ---------------------------------------------------------------------------------------------------
    ∆ Home
---------------------------------------------------------------------------------------------------*/

header, .artist_list_info{
  background: #eee;
}

header{
  padding: 50px 0 20px;
  margin-bottom: 25px;
}

.artist_list_info{
  padding: 10px;
  margin: 10px 0 25px;
}

/* ---------------------------------------------------------------------------------------------------
    ∆ Details
---------------------------------------------------------------------------------------------------*/

.artist-info{
  padding: 20px 0;
}
